/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Seymour+One&display=swap');
/* .kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
.seymour-one-regular {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Seymour+One&family=Tiny5&display=swap');

/*
.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */
 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Seymour+One&family=Tiny5&display=swap');
 /* 
 .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */


 /* общие */

 
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    color: #fff;

    
}

.header__container {
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 20px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    color: #3b3b3b;
}

.button {
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border-radius: 25px;
    text-align: center;
}


/* header */


.header {
    display: flex;
    color: #fff;
}

.header__wrapper {
    width: 100%;
    height: 100%;
    background: #2723ff;
    position: relative;
    z-index: 1;
}

.header__wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.45) 75%);
}

.header__container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
    row-gap: 20px;
    justify-content: center;
    z-index: 2;
}

.header__logo-wrapper {
    display: flex;
    justify-content: center;
}

.header__logo-jpeg {
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}



.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header__title-main {
    rotate: -7deg;
    position: relative;
    margin: 5px 0px 30px 0px;
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
}

.header__title-main::before {
    content: '-';
    position: absolute;
    top: 0px;
    left: 18%;
    bottom: 0;
}
.header__title-main::after {
    content: '-';
    position: absolute;
    top: 0px;
    left: 76%;
    bottom: 0;
}

.header__title-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}


.header__icons-list {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 20px 0px;
}

.header__button {
    max-width: 400px;
    background-color: #ff0000;
    transition: 0.1s;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
}

.header__button:hover {
    content: '';
    transform: scale(1.05);
    transition: 0.1s;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
} 

.header__button-link {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px 40px;
}

.header__contacts {
    margin-top: 20px;
    color: #fff;
    font-family: "Seymour One", sans-serif;
    font-weight: 200;
}

.header__contacts-link {
    font-size: 14px;
}

@media (max-width: 570px) {
    .header {
        height: 100%;
    }
    .header__container {
        padding: 40px 0 40px 0;
    }

    .header__logo-jpeg {
        width: 150px;
    }

    .header__title-main {
        font-size: 35px;
    }

    .header__title-subtitle {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .header__title-text {
        text-align: left;
    }

    .header__button-link {
        font-size: 16px;
        padding: 10px 30px;
    }

    .header__icons-list {
        column-gap: 15px;
    }

    .header__contacts-link {
        font-size: 10px;
        font-weight: 100;
    }
}

/* main */

.main {
    color: #000;
    font-size: 16;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 40px 0 0 0;
    z-index: 2;
}

.main__container {
    position: relative;
}

.about__container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #fff;
}

.about__wrapper {
    display: flex;
    justify-content: left;
    column-gap: 40px;
    margin-bottom: 60px;
    max-width: 800px;
}

.about__info {
    position: relative;
    max-width: 300px;
    min-width: 300px;
}

.about__info-img {
    rotate: -3deg;
    max-width: 300px;
    position: relative;
}

.about__info-list {
    position: absolute;
    top: -20%;
    left: 8%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-transform: uppercase;
    text-align: center;
}
.about__info-title {
    position: absolute;
    top: 46%;
    left: -45%;
    font-size: 20px;
    font-weight: 800;
    rotate: -93deg;
    color: #000000c2;
    text-shadow: 3px 3px 3px rgba(94, 94, 94, 0.377);
}

.about__description {
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.about__title {
    padding-left: 40%;
    margin-bottom: 20px;
}

.about__description-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.about__description-icons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    padding: 20px;
    font-weight: 600;
}

.about__description-icons-list {
    display: flex;
    column-gap: 20px;
}

.about__info-button {
    min-width: 150px;
    min-height: 30px;
    background-color: #2723ff;
    transition: 0.1s;
    padding: 10px 30px;
    font-size: 12px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.31);
}

.about__info-button:hover {
    content: '';
    transform: scale(1.05);
    transition: 0.1s;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
}

@media (max-width: 780px) {
    .about__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        margin-bottom: 60px;
    }

    .about__info {
        min-height: 380px;
    }

    .about__info-list {
        flex-direction: column;
        max-width: 400px;
        row-gap: 10px;
    }

    .about__info-img {
        max-width: 250px;
        top: 10px;
    }

    .about__info-title {
        left: -140px;
    }

    .about__description-icons {
        padding: 10px;
    }

    .about__info-button {
        width: 100%;
        padding: 14px 40px;
    }

}



/* serv */


.server::after {
    content: '';

}

.server__wrapper {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
}

.server__title {
    text-align: center;
    margin-bottom: 60px;
}

.server__info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 200px;
    max-width: 250px;
}

.server__info-list {
    min-width: 400px;
}

.server__info-item {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    max-width: 250px;
    column-gap: 10%;
}

.server__info-title {
    font-size: 16px;
}

.server__info-item-title {
    display: block;
    font-size: 16px;
    font-weight: 600;
}


.server__blocks-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
}

.server__block-list {
    display: flex;
    max-width: 800px;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}

.server__block-item {
    position: relative;
}

.server__block-item-img {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    position: relative;
    z-index: -1;
    position: relative;
}

.server__block-item-img:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000e7;
    z-index: 1;
    opacity: 0.5;
}

.server__block-item-description {
    position: absolute;
    color: #fff;
    padding: 20px 20px;
    z-index: 1;
}

.server__block-item-title {
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.server__block-item-text {
    text-shadow: 2px 2px 2px #000;
}

/* footer */


.footer {
    background-color: rgb(22, 22, 22);
    padding-block: 80px 40px;
    color: #fff;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 10px;
}


.footer__info-list-title {
    align-self: center;
    max-width: 30%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.list__title-main {
    font-size: 28px;
    color: #5f54ff;
    text-shadow: 4px 4px 4px #5f5f5f5d;
}

.list__title-second {
    color: #d1d1d1;
}

.footer__info-list {
    display: flex;
    justify-content: center;
    align-items: start;
    row-gap: 10px;
    column-gap: 40px;
}


.footer__info-item {
    min-width: 120px;
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
}

.line::before {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    border-left: solid 1px #fff;
    position: absolute;
    top: 0;
    left: -20px;
}

.footer__info-item-name {
    font-size: 18px;
    font-weight: 600;
}

.footer__product {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.footer__info-item-icon > svg {
    fill: #ffffff;
}

@media (max-width: 780px) {
    .list__title-main {
        font-size: 24px;
    }

    .footer__info-list-title {
        text-align: center;
        align-self: center;
        max-width: 70%;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff; 
    }    

    .footer__info-item {
        max-width: 140px;
        row-gap: 10px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        column-gap: 10px;
    }

    .footer__product {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .footer__info-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        row-gap: 20px;
        column-gap: 15px;
    }

    .footer__info-item {
        min-width: 100px;
        max-width: 300px;
        row-gap: 10px;
        font-size: 12px;
    }

    .line::before {
        display: none;
    }

    .footer__product {
        font-size: 10px;
    }

    .footer__info-item-icon > svg {
        fill: #5f54ff;
    }
}


@media (max-width: 360px) {
    
}